{% extends 'base.html' %}

{% block title %}Tính lương{% endblock %}

{% block style %}
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }

        /* CSS cho bảng con (bảng bonus) */
        .bonus-table {
            width: 100%;
            border-collapse: collapse;
        }

        .bonus-table th, .bonus-table td {
            border: 1px solid black;
            padding: 5px;
            text-align: left;
        }
    </style>
{% endblock style %}

{% block content %}
<form method="post" action="{% url 'get_all_income' %}">
    {% csrf_token %}
    <p></p>
    <input type="text" name="input_month" placeholder="Nhập tháng" required>
    <button type="submit">Tính lương</button>
</form>

{% if incomes %}
<h1>Danh sách thu nhập</h1>

<table>
    <thead>
    <tr>
        <th>User ID</th>
        <th>Month</th>
        <th>Salary</th>
        <th>Bonus</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    {% for income in incomes %}
    <tr>
        <td>{{ income.user_id }}</td>
        <td>{{ income.month }}</td>
        <td>{{ income.salary }}</td>
        <td>
            <table class="bonus-table">
                <thead>
                <tr>
                    <th>Description</th>
                    <th>Money</th>
                </tr>
                </thead>
                <tbody>
                {% for bonus_item in income.bonus %}
                <tr>
                    <td>{{ bonus_item.description }}</td>
                    <td>{{ bonus_item.money }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </td>
        <td>{{ income.total }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock content %}
